@import url("https://use.typekit.net/yhu5icc.css");

body {
  margin: 0;
  font-family: 'bdr-mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'bdr-mono',
    monospace;
}
